<h1>Make your form here</h1>
<form method="POST" action="/pirates">
<h3>Name: <input type="text" name="pirate[name]"></h3>
<h3>Weight: <input type="text" name="pirate[weight]"></h3>
<h3>Height: <input type="text" name="pirate[height]"></h3>
<h3>Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1"></h3>
<h3>Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_1"></h3>
<h3>Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></h3>
<h3>Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_2"></h3>
<h3>Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_2"></h3>
<h3>Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></h3>
<input type="submit" id="Submit">
</form>
